* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;

    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
    margin-bottom: 25px;
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
    border-color: #0077cc;
}

button {
  border: none; 
  color: white; 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px; 
  display: inline-block;
  margin: 5px;
}

button {background-image: linear-gradient(to right, #6c757d, #adb5bd);} 
button:hover {background-image: linear-gradient(to right, #848b92, #adb5bd);}

.error {
    background-color: #ffe5e5;
    color: #c62828;
    border: 1px solid #ef9a9a;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    text-align: center;
}